1 Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [10]:
ciudad=["mexico"," monterrey" , "guadalajara" , "lima", "caracas"]
print(ciudad)

['mexico', ' monterrey', 'guadalajara', 'lima', 'caracas']

2) Imprimir por pantalla el segundo elemento de la lista

In [11]:
print(ciudad[1])

 monterrey

3) Imprimir por pantalla del segundo al cuarto elemento

In [14]:
print(ciudad[1:4])

[' monterrey', 'guadalajara', 'lima']

4) Visualizar el tipo de dato de la lista

In [15]:
type(ciudad)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [16]:
print(ciudad[2:5])

['guadalajara', 'lima', 'caracas']

6) Visualizar los primeros 4 elementos de la lista

In [17]:
print(ciudad[:3])

['mexico', ' monterrey', 'guadalajara']

In [ ]:
7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [38]:
ciudad.append("guadalajara")
ciudad.append("paris")

print(ciudad)

['mexico', ' monterrey', 'lima', 'caracas', 'guadalajara', 'guadalajara', 'paris']

8) Agregar otra ciudad, pero en la cuarta posición

In [40]:
ciudad.insert(5,"montreal")

9) Concatenar otra lista a la ya creada

In [41]:
ciudad.extend([1,2])

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [45]:
print(ciudad.index("montreal"))

5

11) ¿Qué pasa si se busca un elemento que no existe?

produce error elemento no existe

12) Eliminar un elemento de la lista

In [46]:
ciudad.remove("guadalajara")

13) ¿Qué pasa si el elemento a eliminar no existe?

aparece error  elemento no exoste en la lista

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [57]:
numeros=ciudad.pop

15) Mostrar la lista multiplicada por 4

In [58]:
print (ciudad * 4)

['mexico', ' monterrey', 'lima', 'caracas', 'montreal', 'guadalajara', 'paris', 1, 2, 'mexico', ' monterrey', 'lima', 'caracas', 'montreal', 'guadalajara', 'paris', 1, 2, 'mexico', ' monterrey', 'lima', 'caracas', 'montreal', 'guadalajara', 'paris', 1, 2, 'mexico', ' monterrey', 'lima', 'caracas', 'montreal', 'guadalajara', 'paris', 1, 2]

16) Crear una tupla que contenga los números enteros del 1 al 20

In [59]:
mi_tupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [69]:
print (mi_tupla[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [74]:
if 20 in mi_tupla:
    print(" 20 esta en mi tupla")
else:
    print ("20 no esta ")    
if 30 in mi_tupla:
    print ("esta en mi tupla ")
else:
     print (" 30 no esta ")

 20 esta en mi tupla
 30 no esta

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [77]:
if "paris" in ciudad:
    print ("paris si esta en la lista")
else:
    ciudad.append("paris")
    suceso="se agrego paris a la lista "

paris si esta en la lista

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [79]:
print(ciudad.count("guadalajara"))
print(mi_tupla.count(2))

1
1